<h1>User Registration</h1>
<form class="" action="register" method="get"></br>
  <input type="text" name="full_name" placeholder="Full Name" -required></br>
  <input type="text" name="street" placeholder="Street Address" -required></br>
  <input type="text" name="city" placeholder="City" -required></br>
  <input type="text" name="state" placeholder="State" -required></br>
  <input type="number" name="zip" placeholder="Postal Code" -required></br>
  <input type="text" name="country" placeholder="Country" -required></br>
  <input type="email" name="email" placeholder="Email" -required></br>
  <input type="number" name="hphone" placeholder="Home Phone"></br>
  <input type="number" name="cphone" placeholder="Cell Phone"></br>
  <input type="number" name="wphone" placeholder="Work Phone"></br>
  <input type="text" name="user" placeholder="Username" -required></br>
  <input type="password" name="pass" placeholder="Password" - required></br>
  <input type="submit" value="Register">
</form>

<%= flash[:error3] %>
